<a href="https://colab.research.google.com/github/KICastillo/CPEN21A-ECE-2-2/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Example 1

In [13]:
week=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

###Example 2: The break Statement

In [14]:
week=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)
  if x=="Thursday":
     break

Sunday
Monday
Tuesday
Wednesday
Thursday

###Example 3: The break Statement

In [15]:
week=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  if x=="Thursday":
     break
  print(x)

Sunday
Monday
Tuesday
Wednesday

###Example 4: Looping through a string

In [12]:
week=["Sunday","Monaday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in "week":
  print(x)

w
e
e
k

###The Range() function

In [17]:
numbers=["1","2","3","4","5","6","7"]
for x in range(6):
  print(x)

0
1
2
3
4
5

In [19]:
numbers=["1","2","3","4","5","6","7"]
for x in range(2,6):
  print(x)

2
3
4
5

###Nested Loops

In [25]:
adjective=["red","big","tasty"]
fruits=["apple","banana","cherry"]
for x in adjective:
 for y in fruits:  
  print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

###Example 5

In [27]:
i=1
while i<6:
  print(i)
  i+=1 #i=i+1Assignment operator

1
2
3
4
5

###The Break Statement

In [28]:
i=1
while i<6:
  print(i)
  if i==3:
    break
  i+=1

1
2
3

###The Continue Statement

In [33]:
i=0
while i<6:
  i+=1
  if i==3:
    continue 
  print(i)

1
2
4
5
6

###The Else Statement

In [7]:
i=1 
while i<6:
  print(i)
  i+=1
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

###Application 1: Create a python program that displays Hello 0 to Hello 10 vertically

In [5]:
Hello=["Hello"]
Numbers=["0","1","2","3","4","5","6","7","8","9","10"]
for x in Hello:
  for y in Numbers:
    print(x,y)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

##Application 2 : Create a python program that displays integers less than 10 but not less than 3

In [48]:
integers=["1","2","3","4","5","6","7","8","9","10","11"]
for x in range(3,10):
  print(x)

3
4
5
6
7
8
9